.global2 {
    margin: 10px 85px;
    display: ruby;
    justify-content: center;
    justify-items: center;
}


.pr22 {
    width: 35%;
    margin: 14px;
    
}

.pr2s {
    margin: 200px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
   
}

/* .pr4s {
    margin: -50px auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;

} */



.pr11 {
    width: 25%;
    margin: 10px auto;
}

.pr1 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr1 p {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.icon1 {
    margin: 10px 10px;
    padding: 10px;

}

.pr2 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr2 p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.icon2 {
    margin: 10px 10px;
    padding: 10px;
    

}

.pr3 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr3 p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.icon3 {
    margin: 10px 10px;
    padding: 10px;

}

.pr4 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr4 p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.icon4 {
    margin: 10px 10px;
    padding: 10px;

}

.pr5 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr5 p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.icon5 {
    margin: 10px 10px;
    padding: 10px;

}

.pr6 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr6 p {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.icon6 {
    margin: 10px 10px;
    padding: 10px;

}