.global2 {
    /* margin: 10px 74px; */
    display: flex;
    justify-content: center;
    justify-items: center;
}

.logo1 {
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.logo2{
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


.pr22 {
    width: 35%;
    margin: 20px 20px;  
    padding: 10px 10px;
}

.video1 {
    padding: auto;
    border-radius: 10px;
    margin: 10px 35px;
}

.pr11 {
    width: 19%;
    margin: 80px auto;
    /* padding: 10px 10px; */
    /* padding-top: 50px; */
}


.pr33 {
    width: 21%;
    margin: 80px auto;
    /* padding: 10px 10px; */
    /* padding-top: 50px; */
}

.pr1 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr1 p {
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
}

.icon1 {
    margin: 10px 10px;
    padding: 10px 10px;
    

}

.pr2 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr2 p {
    text-align: center;
    font-weight: bold;
    padding: 10px 35px;
}

.icon2 {
    margin: 10px 10px;
    padding: 10px 10px;
    

}

.pr3 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr3 p {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

.icon3 {
    margin: 10px 10px;
    padding: 10px 10px;

}

.pr4 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr4 p {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

.icon4 {
    margin: 10px 10px;
    padding: 10px 7px;

}

.pr5 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr5 p {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

.icon5 {
    margin: 10px 10px;
    padding: 10px 10px;

}

.pr6 {
    margin: 65px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 10px 12px 4px gray;
}

.pr6 p {
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

.icon6 {
    margin: 10px 10px;
    padding: 10px 10px;

}